In [1]:
#importing libraries
import pandas as pd
import mysql.connector
import numpy as np

In [2]:
# csv to dataframe
df_buses_1=pd.read_csv("df_buses_1.csv")
df_buses_2=pd.read_csv("df_buses_2.csv")
df_buses_3=pd.read_csv("df_buses_3.csv")
df_buses_4=pd.read_csv("df_buses_4.csv")
df_buses_5=pd.read_csv("df_buses_R.csv")
df_buses_6=pd.read_csv("df_buses_SB.csv")
df_buses_7=pd.read_csv("df_buses_H.csv")
df_buses_8=pd.read_csv("df_buses_AS.csv")
df_buses_9=pd.read_csv("df_buses_9.csv")
df_buses_10=pd.read_csv("df_buses_10.csv")

Final_df=pd.concat([df_buses_1,df_buses_2,df_buses_3,df_buses_4,df_buses_5,df_buses_6,
                    df_buses_7,df_buses_8,df_buses_9,df_buses_10],ignore_index=True)
Final_df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,KSRTC (Kerala) - 578,Super Express Non AC Seater Air Bus (2+2),18:00,03:15,09h 15m,INR 513,2 Seats available,3.5\n34,https://www.redbus.in/bus-tickets/kozhikode-to...,Kozhikode to Bangalore
1,KSRTC (Kerala) - 549,Super Express Non AC Seater Air Bus (2+2),22:15,06:13,07h 58m,INR 640,1 Seat available,1.7\n32,https://www.redbus.in/bus-tickets/kozhikode-to...,Kozhikode to Bangalore
2,MMK Travels,A/C Seater / Sleeper (2+1),21:30,06:00,08h 30m,INR 800,10 Seats available,4.5\n566,https://www.redbus.in/bus-tickets/kozhikode-to...,Kozhikode to Bangalore
3,MMK Travels,A/C Sleeper (2+1),21:00,05:30,08h 30m,INR 850,13 Seats available,4.7\n20,https://www.redbus.in/bus-tickets/kozhikode-to...,Kozhikode to Bangalore
4,P K Travels,A/C Sleeper (2+1),20:00,06:00,10h 00m,INR 950,9 Seats available,4.3\n214,https://www.redbus.in/bus-tickets/kozhikode-to...,Kozhikode to Bangalore
...,...,...,...,...,...,...,...,...,...,...
882,Snemita Paribahan (Bhorpet),AC Seater (2+2),23:55,04:45,04h 50m,INR 370,29 Seats available,3.6\n17,https://www.redbus.in/bus-tickets/kolkata-to-d...,Kolkata to Digha
883,Parameswar Travels,A/C Seater Push Back (2+3),21:50,03:45,05h 55m,285,51 Seats available,2.6\n18,https://www.redbus.in/bus-tickets/kolkata-to-d...,Kolkata to Digha
884,City Express (Shinjini),AC Seater (2+2),23:45,04:35,04h 50m,INR 370,12 Seats available,3.9\n4,https://www.redbus.in/bus-tickets/kolkata-to-d...,Kolkata to Digha
885,Mayuri Express,A/C Seater (2+3),18:20,22:50,04h 30m,315,61 Seats available,3.0\n23,https://www.redbus.in/bus-tickets/kolkata-to-d...,Kolkata to Digha
886,Snemita Paribahan(Shinjini),A/C Seater (2+3),23:50,04:30,04h 40m,INR 370,20 Seats available,2.6\n11,https://www.redbus.in/bus-tickets/kolkata-to-d...,Kolkata to Digha

# Data cleaning

In [3]:
# data about the data
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         887 non-null    object
 1   Bus_type         887 non-null    object
 2   Start_time       887 non-null    object
 3   End_time         887 non-null    object
 4   Total_duration   887 non-null    object
 5   Price            887 non-null    object
 6   Seats_Available  887 non-null    object
 7   Ratings          887 non-null    object
 8   Route_link       887 non-null    object
 9   Route_name       887 non-null    object
dtypes: object(10)
memory usage: 69.4+ KB

In [4]:
#convert prices to numeric
Final_df["Price"]=Final_df["Price"].str.replace("INR","")
Final_df["Price"]=Final_df["Price"].astype(float)
Final_df["Price"].fillna(0)

0      513.0
1      640.0
2      800.0
3      850.0
4      950.0
       ...
882    370.0
883    285.0
884    370.0
885    315.0
886    370.0
Name: Price, Length: 887, dtype: float64

In [5]:
#convert Ratings to numeric
Final_df["Ratings"]=Final_df["Ratings"].str.replace("New","")
Final_df["Ratings"]=Final_df["Ratings"].str.strip()
Final_df["Ratings"]=Final_df["Ratings"].str.split().str[0]
Final_df["Ratings"] = pd.to_numeric(Final_df["Ratings"], errors='coerce')
Final_df["Ratings"].fillna(0,inplace=True)

C:\Users\samandrose\AppData\Local\Temp\ipykernel_17764\2577861265.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Final_df["Ratings"].fillna(0,inplace=True)

In [6]:
# info after the data type change
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         887 non-null    object
 1   Bus_type         887 non-null    object
 2   Start_time       887 non-null    object
 3   End_time         887 non-null    object
 4   Total_duration   887 non-null    object
 5   Price            887 non-null    float64
 6   Seats_Available  887 non-null    object
 7   Ratings          887 non-null    float64
 8   Route_link       887 non-null    object
 9   Route_name       887 non-null    object
dtypes: float64(2), object(8)
memory usage: 69.4+ KB

In [7]:
Final_df = Final_df[Final_df["Price"] <= 7000]

In [8]:
# replacing the nan value
Final_df = Final_df.replace({np.nan: None})

In [9]:
# change dataframe to csv
path=r"D:/Data-Scraping-with-Selenium-Dynamic-Filtering-using-Streamlit-main/redbus/Final_busdetails_df.csv"
Final_df.to_csv(path,index=False)

OSError: Cannot save file into a non-existent directory: 'C:\Users\Kavitha\Desktop\CAPSTONE PROJECT\redbus'

# Create a mysql database

In [12]:
#sql connection
conn=mysql.connector.connect(host="localhost", user="root", password="kavi",database="RED_BUS_DETAILS")
my_cursor = conn.cursor()
my_cursor.execute("CREATE DATABASE IF NOT EXISTS RED_BUS_DETAILS")

In [13]:
# Table Creation
my_cursor.execute('''CREATE TABLE IF NOT EXISTS bus_details(
                  ID INT AUTO_INCREMENT PRIMARY KEY,
                  Bus_name VARCHAR(255) NOT NULL,
                  Bus_type VARCHAR(255) NOT NULL,
                  Start_time VARCHAR(255) NOT NULL,
                  End_time VARCHAR(255) NOT NULL,
                  Total_duration VARCHAR(255) NOT NULL,
                  Price FLOAT NULL,
                  Seats_Available VARCHAR(255) NOT NULL,
                  Ratings Float NULL,
                  Route_link VARCHAR(255) NULL,
                  Route_name VARCHAR(255) NULL
                  )''')
print("Table Created successfully")

Table Created successfully

In [14]:
# SQL query to insert data into bus_details table
insert_query = '''INSERT INTO bus_details(
                    Bus_name,
                    Bus_type,
                    Start_time,
                    End_time,
                    Total_duration,
                    Price,
                    Seats_Available,
                    Ratings,
                    Route_link,
                    Route_name)
                  VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
data = Final_df.values.tolist()

my_cursor.executemany(insert_query, data)

conn.commit()

print("Values inserted successfully")

Values inserted successfully